* {
	background-color: #1879be;
	margin: 0px auto;
}
#div {
	border: 12px;
	margin: 12px;
	height: 80px;
	width:  250px;
	position: relative;
}

.div {
	background-color: rgba(255, 253, 253, 0.81);
	border-radius :7px;
	padding: 8px;
	display: inline-block;
	
}

#p {
	background-color: #1e6ca3;
	padding: 10px;
	margin-bottom: 3%;
	color: white;
}

#btn {
    background: green;
}
#X {
	margin-bottom: 10px 10px;

}



#todo {
	background-position: center;
	background-color: #1879be;
	border-radius: 12px;
	width: auto;
	height: auto;
}
#cont {
	background-color: rgba(31, 29, 208, 0.11);
	font-size: 2em;

}
#botones {

	background-color: red;
}
#texti {
	position: absolute;
	left: 460px;
	top: 80px;
}

.nuevCl {

}
.inP {

}
#inpCr {
	width: 100%;
	background: #dbd9ed;
}

 button{
        font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        background: rgba(50, 76, 123, 0.32);
        border:0px;
        width:auto;
        height:auto;
    	border-radius:5px;
        padding: 15px;
        position: button;
		position: relative;
  }

#botonLi {
	width: 25%;
	text-align: left;
	margin-left: 2%;
    color:rgba(232, 232, 234, 0.71);
/*    display: inline-block;
*/
}